.env
.env.local
.env.*.local
.env.test
env_file*

.npm
.nyc_output
*.log
logs
coverage

build
/dist
/files
/server/dist/
/server/logs
/server/logs/debug.log
node_modules

.DS_Store
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

newrelic_agent.log
